<!DOCTYPE html>
<html>
  <head>

<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" type="text/css" href="css/page.css"/>

        <link href="/lightbox/ekko-lightbox.css" rel="stylesheet">

            <div class="container-fluid">
                <div class="container ">
                    <div class="row">
                        <div class="col topPad cenX">

                                <h1 class="titleMain">TIMELAPSE AUTO-RAMP</h1>
                                <h3 class="regTitle">a Photoshop Plugin | Java</h3>


                        </div>
                        <!-- <div class="col-4 topPad">

                            yoyoyo
                        </div> -->
                    </div>

                    <div class="cenX padB60">
                        <a class="btn btn-primary btn-lg" href="releases/proRAW.jar" role="button" download>Download V1.0 .jar</a>
                        <a class="linkGrey" id="srcCode" href="https://github.com/DevonCrawford/Timelapse-Auto-Ramp-Photoshop-Plugin">View source code</a>
                    </div>

                    <div class="row exText">
                        <div class="col-4">
                            <h5 class="cenX">Original</h5>
                        </div>
                        <div class="col-4">
                            <h5 class="cenX">VS</h5>
                        </div>
                        <div class="col-4">
                            <h5 class="cenX">Processed</h5>
                        </div>
                    </div>
                    <video width="100%" autoplay loop class="round3 vid">
                        <source src="results/Timelapse-auto-ramp-compressed-3.mp4"></source>
                    </video>
                </div>
            </div>

            <div class="container-fluid theoryDiv sec">
                <div class="container">
                    <h3 class="subTitle white">THEORY</h3>
                    <p class="subText white extPad" id="desc">My algorithm simply looks for changes in shutter speed,
                         aperture, and iso, then mathematically calculates the
                         exposure offset required to match the difference between
                         a change in two pictures, evenly applies the exposure change
                         across leading images, and writes new exposure to the
                         RAW (.xmp) files. This allows photoshop or after effects
                         to access my calculations with no issue, and use the ramped
                         values when rendering. This makes best use in difficult
                         lighting conditions such as a timelapse of a sunrise, where
                         your best option is to change the exposure manually, as the
                         sun rises. If you did not use this technique you will notice
                         flickering on auto mode, or stick with one setting on manual,
                         making some parts underexposed and others overexposed.</p>
                </div>
            </div>

            <div class="container-fluid sec">
                <div class="container">
                    <h3 class="subTitle">HOW TO SHOOT</h3>
                        <ul class="listPad">
                            <li>manually change camera settings when shooting to
                                achieve good lighting (this will create a flicker
                                during the timelapse, but my program is made to even
                                out this change)</li>
                            <li>edit images in photostop lightroom, be sure to SAVE
                                METADATA TO FILE, which creates .xmp files for my
                                program to use</li>
                        </ul>
                </div>

                <div class="container">
                    <h3 class="subTitle">HOW TO USE</h3>
                        <ul class="listPad">
                            <li>Close photoshop (After saving metadata)</li>
                            <li>open up command prompt / terminal</li>
                            <li>cd to location of program (ex. cd Downloads)</li>
                            <li>run by typing <code>java -jar proRAW.jar</code></li>
                            <li>input the file path of the first image</li>
                            <li>Open photoshop and changes will be applied!</li>
                        </ul>
                </div>

                <div class="container">
                    <img src="images/cmd.PNG" width="90%" class="centerImg padB40"></img>
                </div>
            </div>

            <!-- <div class="container-fluid sec">
                <div class="container">
                    <h3 class="subTitle">RESULTS</h3>
                    <div class="row justify-content-center">
                        <div class="row">
                            <a href="results/sunset-result.mp4" data-toggle="lightbox" data-type="video" data-gallery="video-gallery" class="col-sm-4">
                                <img src="results/thumbs/sunset-cmp.jpg" class="img-fluid">
                            </a>
                            <a href="https://www.youtube.com/watch?v=tPx9ZOmckCc" data-toggle="lightbox" data-gallery="video-gallery" data-type="youtube" class="col-sm-4">
                                <img src="/images/IMG_1083.jpg" class="img-fluid">
                            </a>
                            <a href="/timelapses/DamBeach.mp4" data-toggle="lightbox" data-gallery="video-gallery" data-type="video" class="col-sm-4">
                                <img src="/images/IMG_1691.jpg" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->

            <!--  -->
            <!-- btnLINKS -->
            <div class="container-fluid btnLinks extPad">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 bot">
                            <div class="leftCenter">
                                <h3 class="sub2">FOUND A BUG?</h3>
                                <p class="subText">Let me know on github</p>
                                <a class="btn btn-success btn-lg w100" href="https://github.com/DevonCrawford/Timelapse-Auto-Ramp-Photoshop-Plugin/issues" role="button">Issues</a>
                            </div>
                        </div>
                        <div class="col-md-4 bot">
                            <div class="leftCenter">
                                <h3 class="sub2">CONTRIBUTE</h3>
                                <p class="subText">Take part in the project</p>
                                <a class="btn btn-secondary btn-lg w100" href="/contact" role="button">Contact Me</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="leftCenter">
                                <h3 class="sub2">GET FOR FREE</h3>
                                <p class="subText">No install necessary</p>
                                <a class="btn btn-primary btn-lg w100" href="releases/proRAW.jar" role="button" download>Download .jar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <p class="subText extPad">Note: This program currently has no GUI therefore when you
                    click on the .jar file it appears to not open. Make sure
                    you open the file in command prompt following the
                    instructions above.</p>
            </div>

        <%- include(rootPath + 'partials/footer'); %>
        <script src="scripts/mobile.js" type="text/javascript"></script>

        <script src="/lightbox/ekko-lightbox.js"></script>
        <script type="text/javascript">
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
       </script>
    </body>
</html>


























    
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <% include ../partials/includes %>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="/css/nav.css"/>
<nav class="navbar fixed-top navbar-expand-lg toggle-height" id="global-nav">
     <div class="container">
    <a class="navbar-brand scrollN" href="/">Devon Crawford</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon custom-toggler"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li> <a class="nav-link scrollN" href="/software/">Software</a></li>
        <li> <a class="nav-link scrollN" href="/electronics/">Electronics</a></li>
        <li><a class="nav-link scrollN" href="/films/">Films</a></li>
        <li><a class="nav-link scrollN" href="/photography/">Photography</a></li>
      </ul>
      <ul class="navbar-nav">
          <li><a class="nav-link scrollN" href="/contact">Contact</a></li>
      </ul>
    </div>
     </div>
 </nav>
 <script type="text/javascript" src="/scripts/nav.js"></script>

    <% include ../partials/nav %>
    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="titleMain">DEVON CRAWFORD</h1>
            <h3>an electronics hobbyist passionate for innovative technology and digital content</h3>
        </div>
        <div class="homeSouth">
            <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
            <button class="smoothScrollBtn" type="button"><a href="#sobreMim"></a><img src="/images/Down-Arrow-White.png" width="30"/></button>
        </div>
    </div>

    <div class="container-fluid aboutMe" >
        <div class="container aboutMe">
            <div class="row rowPad" >
                <div class="col-md-4">
                    <img src="/images/IMG_1964_cmp.jpg" class="circleImg"></img>
                </div>
                <div class="col-md-8">
                    <p class="pad20">Welcome to my website. I am an electronics hobbyist,
                        digital content creator, and a second year computer
                        science student at the University of Guelph. In the
                        past few years I have worked on many independent
                        projects alongside my formal education. My goal is to develop
                        innovative solutions in the multimedia and automation industries through my combined software and hardware experience.
                        I have advanced knowledge in Java and C, experience designing custom electronic circuits/robotics,
                        as well as building this website using responsive web technologies.
                        Additionally, I am a hobbyist filmmaker and photographer, and have been sharing my stories on
                        YouTube since 2012. I created this site to share my interests, as they evolve,
                        and connect with like minded individuals.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid softwareImg">
        <div class="container softwareDiv">
            <h1 class="leftTitle subTitle white" style="padding-top: 0px">SOFTWARE</h1>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">JAVA</h3>
                    <h5 class="tileDesc subPmin white">3 years object oriented design of
                        multimedia tools, data structures, and user interfaces</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="software/timelapse-auto-ramp"><p style="border-width:0px" id="PSDPlug">Timelapse Photoshop Plugin</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="/software#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">C</h3>
                    <h5 class="tileDesc subPmin white">2 years developing efficient low-level
                    algorithms and data structures using Linux (Ubuntu) terminal</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="software/pathfinding"><p style="border-width:0px" id="pathLink">A* Pathfinding Command Line</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="software#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 tilePadWide softTileBack col1Pad">
                    <h3 class="white regTitle cenX">EMBEDDED</h3>
                    <h5 class="tileDesc subPmin white">1 year microcontroller programming and
                        circuit design for Arduino, and assembly programs on a 68KMB</h5>
                    <ul class="centerLinks">
                        <li style="display:inline-block;">
                            <a href="electronics/air-conditioner-DIY"><p style="border-width:0px">DIY Air Conditioner</p></a>
                        </li>
                        <li class="brText"><p>|</p></li>
                        <li style="display:inline-block;">
                            <a href="electronics#top"><p>View all projects</p></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 tilePadWide softTileBack col2Pad">
                    <h3 class="white regTitle cenX">WEB</h3>
                    <h5 class="tileDesc subPmin white">Experience with HTML, CSS, Javascript and bootstrap
                    to create this responsive website</h5>
                </div>
                <a class="btn btn-outline-secondary btn-lg centerBtn" href="software" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <div class="container-fluid electronicsBack">
        <div class="container extraSpace">
            <h2 class="centerTitle subTitle padX0 padtop0">ELECTRONICS</h2>
            <div class="row">
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class= "cenX subTitle padX0">ELECTRIC FAT BICYCLE</h3>
                        <h5 class="tileDesc subPmin">Using recycled 18650 cells, I'm building a
                            high powered electric bicycle for under $500. In progress.</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">BATTERY TECHNOLOGY</h3>
                        <h5 class="tileDesc subPmin">Custom design of low power protection
                        circuits that are scalable and cheap, for 18650 cells</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadWide">
                    <div>
                        <h3 class="cenX subTitle padX0">HIGH FREQUENCY & VOLTAGE</h3>
                        <h5 class="tileDesc subPmin">Coming soon in future projects!</h5>
                    </div>
                </div>
                <a class="btn btn-secondary btn-lg centerBtn" href="electronics" role="button">Learn More</a>

            </div>
        </div>
    </div>

    <div class="container-fluid videoBack">
        <div class="container padY60 padX0">
            <h2 class="leftTitle whiteText subTitle padtop0">FILMS</h2>
            <div class="row">
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class= "odometer tileTitle odoSubs whiteText" id="odometer" style="display:block">0</h3>
                        <h5 class="tileDesc whiteText">Subscribers</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="odometer tileTitle odoViews whiteText" style="display:block">0</h3>
                        <h5 class="tileDesc whiteText">Views</h5>
                    </div>
                </div>
                <div class="col-lg-4 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">5+ years</h3>
                        <h5 class="tileDesc whiteText">Creating digital content</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">Partner</h3>
                        <h5 class="tileDesc whiteText">with Much Studios</h5>
                    </div>
                </div>
                <div class="col-lg-2 tilePadMin">
                    <div class="centerDiv">
                        <h3 class="tileTitle whiteText">500+</h3>
                        <h5 class="tileDesc whiteText">Videos</h5>
                    </div>
                </div>
                <a class="btn btn-lg centerBtn learnFilmsBtn" href="films" role="button">Learn More</a>
            </div>
        </div>
    </div>

    <div class="container-fluid photoBack">
        <div class="w-100">
            <div class="container photoDiv extraSpace">
                <h2 class="subTitle padX0 padtop0 cenX">PHOTOGRAPHY</h2>
                <div class="row">
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class= "cenX subTitle padX0" style="display:block">MANUAL</h3>
                            <h5 class="tileDesc">Self taught manual photography since 2012</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class="cenX subTitle padX0" style="display:block">PLUGINS</h3>
                            <h5 class="tileDesc">Professional timelapses with my <a href="software/timelapse-auto-ramp">Photoshop Plugin</a>,
                            to assist photographers shooting timelapses in difficult lighting conditions</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 tilePadMin padY40">
                        <div class="centerDiv">
                            <h3 class="cenX subTitle padX0" style="display:block">100+</h3>
                            <h5 class="tileDesc">Timelapses<br>shot in the past 3 years</h5>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-lg centerBtn learnPhotoBtn" href="photography" role="button" onmouseover="mouseOver()" onmouseout="mouseOver()">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
<footer class="footer container-fluid">
    <div class="container extraSpace">
        <ul class="centerLinks socialIcons">
            <li style="display:inline-block">
                <a href="https://www.youtube.com/channel/UCDrekHmOnkptxq3gUU0IyfA"><img src="/images/icons/youtube.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://twitter.com/DevonCrawford13"><img src="/images/icons/twitter.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.snapchat.com/add/devoncrawfordyt"><img src="/images/icons/snapchat.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.instagram.com/devoncrawford_/"><img src="/images/icons/instagram.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://github.com/devoncrawford"><img src="/images/icons/github.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.linkedin.com/in/devon-crawford-463592130/"><img src="/images/icons/linkedIn.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="/contact"><img src="/images/icons/email.png"></img></a>
            </li>
        </ul>
        <p class="footerText subP">Email me with any suggestions,
        collaborations, or just to talk!<br>devon@devoncrawford.io</p>
    </div>
    <div class="bottomLinksDiv">
        <div class="container">
            <div class="row">
                <div class="col-8 col-md">
                    <a href="/">Home</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-8 col-md" >
                    <a href="/software">Software</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-8 col-md">
                    <a href="/electronics">Electronics</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-8 col-md">
                    <a href="/films" style="text-align: center">Films</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-8 col-md">
                    <a href="/photography">Photography</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-8 col-md">
                    <a href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/footerShift.js" type="text/javascript"></script>
    <% include ../partials/footer %>
    <script src="includes/jquery.min.js"></script>
    <!-- Odometr includes -->
    <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
    <script src="includes/odometer.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>


<% var rootPath = '../../'; %>
<!DOCTYPE HTML>
<html>
    <head>
        <%- include(rootPath + 'partials/includes'); %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav'); %>
        <link rel="stylesheet" type="text/css" href="css/page.css"/>

        <div class="back">
            <div class="cenMain">

                 <div class="center cenX">
                     <h1 class="titleMain">CONTACT</h1>
                     <h3 class="regTitle padB40">devon@devoncrawford.io</h3>
                     <p>(Still working on the email UI)</p>
                 </div>
                <!-- <h3 class="regTitle padB20">Send me an email through this form</h3> -->

                <!-- <img>devon.proj@gmail.com</img> -->
                <!-- <form method="get" id="contact_form">
                    <div class="form-group row">
                      <label for="name" class="col-2 col-form-label">Name</label>
                      <div class="col-10">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                              <input class="form-control" name="name" id="name">
                          </div>
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-2 col-form-label rp">Email address</label>
                        <div class="col-10">
                            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" id="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="subject" class="col-2 col-form-label">Subject</label>
                            <div class="col-10">
                                <input class="form-control" name="subject" aria-describedby="emailHelp" id="subject">
                            </div>
                    </div>
                     <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="10"></textarea>
                    </div>

                    <div class="cenX down">
                        <button id="send" class="btn btn-primary btn-lg" type="button">Send</button>
                    </div>
                </form> -->

            </div>
        </div>

        <%- include(rootPath + 'partials/footer'); %>
        <script src="scripts/mobile.js" type="text/javascript"></script>
        <script src="scripts/send.js" type="text/javascript"></script>
    </body>
</html>
